.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 10px 0 0;
  margin-block: 10px;
}

.popup__input:first-of-type {
  margin-top: 0;
}

.popup__input_type-error {
  border-bottom: 1px solid rgb(255, 0, 0);
}

.popup__input-error {
  font-size: 12px;
  line-height: 100%;
  color: rgb(255, 0, 0);
  position: absolute;
}

.popup__error_visible {
  display: block;
}

@media screen and (max-width: 568px) {
  .popup__title {
    font-size: 12px;
    line-height: 15px;
  }
}
